/*
 * -------------------------------------------------
 *   Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

profiles {
  conda {
    process.conda = "/mnt/data0/projects/biohub/yeku2023/nextflow_demo/env/environment.yml"
    conda.useMamba = true
  }
}
 // Global default params, used in configs
params {
      // Input Options
  input          = "${baseDir}/samplesheet/samplesheet_yeku.csv"
  input_type     = 'fastq'
  outdir         = './results/'
  fasta          = "${baseDir}/data/ref/genome.fa"
  gtf            = "${baseDir}/data/ref/genome.gtf"

   // STAR Options
  alignIntronMax = 1000000
  alignIntronMin = 20
  alignMatesGapMax = 1000000
  alignSJDBoverhangMin = 1
  alignSJoverhangMin = 1
  alignSoftClipAtReferenceEnds = 'No'
  alignTranscriptsPerReadNmax = 10000
  chimJunctionOverhangMin = 15
  chimScoreMin = 15
  chimScoreSeparation = 10
  chimSegmentMin = 10
  //genomeLoad = 'LoadAndRemove'
  limitSjdbInsertNsj = 1000000
  outFilterMatchNminOverLread = 0.33
  outFilterMismatchNoverLmax = 0.05
  outFilterMultimapNmax = 20
  outFilterMultimapScoreRange = 1
  outFilterScoreMinOverLread = 0.33
  outSJfilterOverhangMin = '15 15 15 15'
  sjdbOverhang = 100
  sjdbScore = 2
  winAnchorMultimapNmax = 999

    // Trim Options
  trim_fastq = true
  clip_r1                    = '${baseDir}/data/fastq_files/*_1.fq.gz'
  clip_r2                    = '${baseDir}/data/fastq_files/*_2.fq.gz'
  three_prime_clip_r1        = null
  three_prime_clip_r2        = null

  // Save Intermediates
  save_reference = true
  save_qc_intermediates = true
  save_quantification_intermediates = true
  save_mirna_predictions = true
  save_rnaseq_intermediates = true
  // Generic Options
  publish_dir_mode = 'copy'
  
}